#Visual Studio .NET exclusions
CloudFilesUpload/bin
CloudFilesUpload/obj
CloudFilesUpload/Obj
CloudFilesUpload/TestResults
CloudFilesUpload/test-results
*.csproj.user
*.suo
*.cache
*~
*.swp
*.userprefs
*.pidb
